doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title Front-end Course
    link(rel='shortcut icon', href='favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(media='all', type='text/css', rel='stylesheet', href='css/main.css')
    link(media='all', type='text/css', rel='stylesheet', href='css/media-queries.css')
  body
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    header
      .header-wrap
        ul.header-links
          li.header-link-item
            a(href='https://github.com/rolling-scopes/front-end-course/wiki/Course-Curriculum') Course plan
          li.header-link-item
            a(href='https://docs.google.com/forms/d/1dsGkxk0P9McvuKTkhEj-Pm_1pznpkVfzIhwjofW5Lgk/viewform') Feedback
          li.header-link-item
            a(href='https://docs.google.com/spreadsheet/ccc?key=0AnUA7wlxcI_-dFphZEFyUHFPZlJDS2hLbVJIc0VYREE&usp=drive_web#gid=0') Score
          li.header-link-item
            a(href='skype:?chat&blob=rZFzmW34j_DNu3McnAHeYRZaSNzwEy-Dy7MbhZKt6cQQ9xZzt3NS3tqizkjd5yUMrSSSee5mA2961_Cl')
              i.fa.fa-skype
                | Skype

    h1.course-title
      | Front-end course

    section
      h2 Tasks
      ul.tasks
        each task in tasks
          li
            a(href='#{task.link}')
              | #{task.title}

    section
      h2 Talks
      each talk, index in talks
        article
          h3.talk-title
            | #{index + 1}. #{talk.title}
            a.btn-feedback(href='#{talk.feedback_url}')
              |Feedback
          ul.talks
            each speaker in talk.speakers
              li.talk-item
                span.talk-speaker #{speaker.name}
                each slideshow in speaker.slides
                  a.talk-item-link(href='#{slideshow.href}')
                    | #{slideshow.title}
          h4.text-right Usefull links
          ul.links
            each link in talk.links
              li
                a(href='#{link.href}') #{link.title}
