doctype html
html
  head
      meta(charset='UTF-8')
      title Front-end course
      link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/css/foundation.min.css')
      link(rel='stylesheet', href='./css/font-awesome.min.css')
      base(target='_blank')
      style
        | .header-links {
        |   padding: 10px;
        | }
        | .row {
        |   max-width: 90%;
        | }
        | section {
        |   padding: 10px;
        | }
        | table {
        |   width: 100%;
        |   margin-bottom: 0;
        | }
        | li > table {
        |   border-bottom: 0;
        | }
        | li:last-child table {
        |   border-bottom: solid 1px #ddd;
        | }
        | .button {
        |   margin-bottom: 0;
        | }
        | .tasks {
        |   margin-top: 10px;
        | }
        | .tasks a {
        |    display: block;
        |    padding: 10px;
        | }
        | .tasks a:hover {
        |    background: #f6f6f6;
        | }
    body
      nav.top-bar(data-topbar='data-topbar', role='navigation')
        ul.title-area
          li.name
            h1
              a(href='../') Front-end course
        .header-links.right
          ul.inline-list
            li
              a(href='https://docs.google.com/forms/d/1dsGkxk0P9McvuKTkhEj-Pm_1pznpkVfzIhwjofW5Lgk/viewform')
                | Feedback
            li
              a(href='skype:?chat&blob=rZFzmW34j_DNu3McnAHeYRZaSNzwEy-Dy7MbhZKt6cQQ9xZzt3NS3tqizkjd5yUMrSSSee5mA2961_Cl')
                i.fa.fa-skype
                | Skype
      section.row
        h3
          a(href="https://github.com/rolling-scopes/front-end-course/wiki/Course-Curriculum") Course plan
        h3 Tasks
        ul.tasks.no-bullet
          li
            a(href="https://www.coursera.org/course/algs4partI") 0. ! Algorithms
          each task, index in tasks
            li
              a(href='#{task.link}') #{index + 1}. #{task.title}

        h3 Talks
        ul.no-bullet
          each talk, index in talks
            li
              table
                tr
                  td(width=10000) #{index + 1}. #{talk.title}
                  td(width=1)
                    a.button.small.tiny(href='#{talk.feedback_url}') Feedback
                tr
                  td(colspan=2)
                    table
                      each speaker in talk.speakers
                        tr.speaker
                          td(rowspan="#{speaker.slides.length + 1}" width="30%") #{speaker.name}
                        each slideshow in speaker.slides
                          tr.slides
                            td(width="70%")
                              a(href='#{slideshow.href}') #{slideshow.title}
                tr
                  td(colspan=2)
                    | Usefull links
                each link in talk.links
                  tr(colspan=2)
                    td
                      a(href="#{link.href}") #{link.title}

              //- ul.no-bullet
              //-   li
              //-     table
              //-       each speaker in talk.speakers
              //-         tr
              //-           td
              //-             | #{speaker.name}
        //- table
        //-   thead
        //-     tr
        //-       th.text-center(width='60') #
        //-       th.text-center Topic
        //-       th.text-center(width='300') Speakers
        //-       th.text-center Slides
        //-       th.text-center(width='300') Links
        //-       th.text-center(width='100') Feedback
        //-   tbody
        //-     each talk, index in talks
        //-       tr
        //-         td.text-center #{index + 1}
        //-         td #{talk.title}
        //-         td.text-center
        //-           ul.no-bullet
        //-             each speaker in talk.speakers
        //-               li #{speaker.name}
        //-         td
        //-           ul.no-bullet
        //-             each speaker in talk.speakers
        //-               each slideshow in speaker.slides
        //-                 li.text-center
        //-                   a(href='#{slideshow.href}') #{slideshow.title}
        //-         td
        //-           ul.no-bullet
        //-             each link in talk.links
        //-               li
        //-                 a(href='#{link.href}') #{link.title}
        //-         td.text-center
        //-           a.button.small.tiny(href='#{talk.feedback_url}')
        //-             | Feedback